<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>
<div class="page-wrapper">
    <h2>Add a brand</h2>
    <form action="/new-brand" method="post">
        Brand name: <input type="text" name="name"><br>
        Type: <input type="text" name="type"><br>
        Safety Rating: <input type="text" name="safetyRating"><br>
        Seating Capacity: <input type="number" name="seatingCapacity"><br>
        Fuel Capacity: <input type="number" name="fuelCapacity"><br>
        Average L/KM: <input type="number" name="averageLKM" step="0.01" pattern="[0-9]+(\.[0-9]{1,2})?"><br>

        <button type="submit">Add</button>
    </form>
</div>
</body>
</html>
